<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AltTrackr.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AltTrackr.My.MySettings>
            <setting name="appWidth" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="appHeight" serializeAs="String">
                <value>126</value>
            </setting>
            <setting name="appTaskbarIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appOpacity" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="tickerFiat" serializeAs="String">
                <value>usd</value>
            </setting>
            <setting name="tickerCoin" serializeAs="String">
                <value>monero</value>
            </setting>
        </AltTrackr.My.MySettings>
    </userSettings>
</configuration>